ALGOLIA_ADMIN_KEY=xxxxxxxx

FIREBASE_EMAIL=firebase-adminsdk-xxxx@xxxxxxxx.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=XXXXXXXXXXXXXXXX=
INSEE_TOKEN=xxxxxxxx

TRELLO_API_KEY=xxxxxxxx
TRELLO_TOKEN=xxxxxxxx
TRELLO_BOARD_ID=xxxxxxxx
TRELLO_LIST_REFINE=Atelier IA
TRELLO_LIST_READY=Ready IA
TRELLO_LIST_WIP=IA en cours
TRELLO_LIST_DONE=IA terminé
TRELLO_POLL_MINUTES=3
TRELLO_CHAT_POLL_MINUTES=1
PREVIEW_URL_TEMPLATE=https://{{pr_id}}.choux.ilieff.fr
MAILJET_PUBLIC_KEY=xxxxxxxx
MAILJET_PRIVATE_KEY=xxxxxxxx

NEXT_PUBLIC_ALGOLIA_APP_ID=XXXXXXXX
NEXT_PUBLIC_ALGOLIA_API_KEY=xxxxxxxx
NEXT_PUBLIC_ALGOLIA_INDEX=leschouxdacote
NEXT_PUBLIC_ALGOLIA_TAGS=tags
NEXT_PUBLIC_BUGSNAG=xxxxxxxx
NEXT_PUBLIC_FIREBASE_ID=1:XXXXXXXX:web:xxxxxxxx
NEXT_PUBLIC_FIREBASE_KEY=XXXXXXXX
NEXT_PUBLIC_FIREBASE_MEASURE=G-XXXXXXXX
NEXT_PUBLIC_FIREBASE_MESSAGING=XXXXXXXX
NEXT_PUBLIC_FIREBASE_PROJECT=xxxxxxxx
NEXT_PUBLIC_MAPBOX_TOKEN=pk.xxxxxxxx.xxxxxxxx
NEXT_PUBLIC_URL=https://leschouxdacote.fr
